[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggx"]
	path = ggx
	url = https://github.com/brandmaier/ggx
[submodule "pdc"]
	path = pdc
	url = https://github.com/brandmaier/pdc
[submodule "reproducibleRchunks"]
	path = reproducibleRchunks
	url = https://github.com/brandmaier/reproduciblerchunks
[submodule "semtree"]
	path = semtree
	url = https://github.com/brandmaier/semtree
